/* ==========================================================================           
 *
 *    v4.8 Update
 *
 * ========================================================================== */
 .registration-nav {
  .registration-nav-inner {
    padding: 10px;
    border-radius: 50vh;

    .wizard-nav-text {
      justify-content: center;
      align-items: center;

      .wizard-step-number {
        text-align: center;
        line-height: 35px;
        height: 35px;
        width: 35px;
        clear: both;
        display: block;
        border-radius: 50%;
        position: relative;
        box-shadow: 0 1px 3px rgba(69,79,91,.2);
      }

      .wizard-step-title {
        line-height: 1.4;

        .wizard-step-title-number {
          opacity: 0.6;
        }
      }
    }

    .current-step {
      background: limegreen;
      color: #FFF;
    }

    .current-sign {
      color: limegreen;
    }

    .wizard-nav-chevron {
      position: absolute;
      right: 0;
      top: 35%;
      font-size: 10px;
      opacity: 0.4;
    }
  }
}

.register-logo {
  position: absolute;
  top: 0.5rem;
  left: 0;
}

.register-continue-button {
  min-width: 200px;
}

.white-background {
  background-color: #FFF;
}

.text-required-register {
    font-size: 8px;
    position: absolute;
    margin-left: 2px;
    color: red;
}

#registration-prices,
#registration-form,
#payment {
  background-image: url(/img/frontend/backgrounds/pattern.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.payment-image-iyzico {
  width: 50%;
}

.payment-image-paddle {
  width: 60%;
}

.payment-image-flutterwave {
  width: 70%;
}
