/* ==========================================================================           
 *
 *    v4.4 Update
 *
 * ========================================================================== */
 #status-bar {
  height: 10px;
 }

 #hundred-percent {
    position: absolute;
    font-size: 10px;
    right: 0;
    margin-top: 0.5rem;
 }

 #zero-percent {
    margin-top: 0.5rem;
    position: absolute;
    font-size: 10px;
 }

 #refresh-button {
	position: absolute;
	right: 1.5rem;

	i {
		font-size: 12px;
      line-height: 2.5;
	}
}

#create-ai-button {
   position: absolute;
   right: 1rem;
   top: 2rem;
}

.custom-switch {
   cursor: pointer;
}